.clear {
	background-color: rgba(255,255,255,1);
	color: black;
	position: fixed;
	top:0px;
	width: 100%;
	z-index: 200;
}
.list-div {
	border-bottom-style: solid;
	border-bottom-color: gray;
	border-bottom-width: 1px;
	font-size: 14px;
	padding:5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.list-div:hover {
	background-color: rgba(230, 230, 230,.8);
		color:#00a878;
}

.dropdown-menu>li>a{
	font-size: 10px !important;
}
.dropdown-menu {
	max-width: 30%;
	max-height: 400px;
	overflow-y: auto;
	white-space: normal;
}

.clickable{
	cursor: pointer; 
	cursor: hand;
}

.notification-div {
	max-width: 100px;
}

.scrollable {
	max-height: 450px;
	overflow-y: auto;
	border-top-color: #76687d;
	border-top-style: solid;
	border-top-width: 3px;
	border-bottom-color: #76687d;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-left-color: #76687d;
	border-left-style: solid;
	border-left-width: 1px;
}

.search::-webkit-input-placeholder {
    color:#76687d !important;
}
.search:focus::-webkit-input-placeholder {
    color:black !important;
}
.offer{
	border-bottom-color: #76687d;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding: 10px;
	width:30%;
	min-width: 300px;
	min-height: 250px;
}
.conversation{
	width: 30%;
	min-width: 200px;
}

.conversation-box{
	width:80%;
	min-width: 400px;
}
.messages {
	max-height: 450px;
	overflow-y: auto;
	border-color: #76687d;
	border-style: solid;
	border-width: 1px;
	margin: 5px;
}
.message{
	max-width: 45%;
	min-width: 180px;
	margin:10px;
	padding:5px;
}
.sent {
	background-color: #3C91E6;
}
.received {
	background-color: #e6e3e8;
}

.item-no-click {
	display: inline-block;
	width:100%;
	border-radius: 8px;
	min-width: 250px;
	min-height: 250px;
	max-width: 350px;
	max-height: 350px;
	font-weight: bold;
	font-size: 15px;
	transition: all .1s ease-in-out;
	position: relative;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	/*box-shadow: 0 4px 17px 0 rgba(0,0,0,.2),0 3px 20px 0 rgba(0,0,0,.19);*/
}
.item-no-click>.name {
	color:white;
	background-color: rgba(60, 145, 230,.85);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;

}
.item {
	display: inline-block;
	width:20%;
	border-radius: 8px;
	margin:20px;
	min-width: 150px;
	min-height: 150px;
	font-weight: bold;
	font-size: 15px;
	transition: all .1s ease-in-out;
	position: relative;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	/*box-shadow: 0 4px 17px 0 rgba(0,0,0,.2),0 3px 20px 0 rgba(0,0,0,.19);*/
}
.item:hover{
	transform: scale(1.1);
}
.item>.name {
	color:white;
	background-color: rgba(60, 145, 230,.85);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;

}

.detailed-item {
	/*border-color: #342e37;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
*/	text-align: left;
}
.detailed-item>.photo {
	height: 300px;
	width:300px;
	background-size: 100% 100%;
}
.detailed-item>.name {
	color:#342e37;
	font-size: 30px;
	font-weight: bolder;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;

}

.item>.price, .item>.best-bid {
	position: absolute;
	bottom: 0px;
	color:white;
	background-color: rgba(250, 130, 76,.85);
	text-align: center;
	width:100%;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

/*.item>.best-bid {
	position: absolute;
	bottom: 0px;
	right:0px;
	color:white;
	background-color: rgba(230, 230, 230, .7);
	width:60px;
	font-size: 8px;
	text-align: right;
}
*/


.item-image {
	width:80px;
	height:80px;
}


.group>.member {
	display: inline-block;
	max-width: 70%;
}
li.active>a {
	background-color:#3c91e6 !important;
	color: white !important;
}
.category{
	display: inline-block;
	width: 30%;
	border-radius: 20px;
	margin:20px;
	min-width: 150px;
	font-weight: bold;
	font-size: 15px;
	color: white;
	transition: all .1s ease-in-out;
	background-size: cover;
}

.category:hover{
	transform: scale(1.1);
}
.nav-spacer {
	height: 50px;
}

.category>.banner {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background-color:  rgba(60, 145, 230,.85);
/*	background-color: rgba(230, 230, 230, .85);*/

}
button:focus {outline:0 !important;
border:none!important;}
.iconn-bar {
	background-color: black;
    border: 3px solid;
    border-radius: 5px;
    width: 100%;
	      -webkit-transition: .32s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  position: absolute;
  top:12px;
	left:0px;

}
body {
	background-color: white;
	font-family: 'Work Sans', sans-serif;
	color:#342E37;
}


.btn:focus {
  outline: none !important;
}
.btn:active {
  outline: none !important;
}   
.btn:selected {
  outline: none !important;
}
.green {
	color: #A2D729;
}
.blue {
	color: #3C91E6;
}
.orange {
	color:#FA824C;
}
.black {
	color:#342E37;
}
.white {
	color:#FAFFFD;
}
.logo{

	font-weight: bold;
}
.iconn-bar {
	background-color: black;
    border: 3px solid;
    border-radius: 5px;
    width: 100%;
	      -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  position: absolute;
  top:12px;
	left:0px;

}
.top {
	left:0px;
}
.selected>.top{
	position: absolute;
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);


}

.top-bottom {
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.selected>.top-bottom{
	position: absolute;
}

.the-top {
	top: 0px;


}
.the-bottom {
	top: 24px;
	height: 6px;
}

.selected >.the-top {
	opacity: 0;
	-ms-transform: scaleX(0) translateY(9px); /* IE 9 */
    -webkit-transform: scaleX(0) translateY(9px); /* Chrome, Safari, Opera */
    transform: scaleX(0) translateY(9px);
}
.selected >.the-bottom {
	opacity: 0;
	-ms-transform: scaleX(0) translateY(-9px); /* IE 9 */
    -webkit-transform: scaleX(0) translateY(-9px); /* Chrome, Safari, Opera */
    transform: scaleX(0) translateY(-9px);
}
.selected>.middle{

}

.selected>.bottom{
	-ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);

}