{%macro week_calendar(rows)%}
    <div class="calendar">
        <table class="table table-condensed table-bordered calendar-header"> 
            <thead>
                <tr>
                    <th class="time-td"></th>
                    <th class="header-td">Monday</th>
                    <th class="header-td">Tuesday</th>
                    <th class="header-td">Wednesday</th>
                    <th class="header-td">Thursday</th>
                    <th class="header-td">Friday</th>
                    <th class="header-td">Saturday</th>
                    <th class="header-td">Sunday</th>
                </tr>
            </thead>
        <!--</table>
        <div class="calendar-body">
            <table class="table table-condensed table-bordered">-->
                <tbody> 
                    {%for row in rows%}
                        <tr>

                        {%for td in row%}
                            {{td}}
                        {%endfor%}
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
{%endmacro%}