<!DOCTYPE html>
<html>
<head>
    <title>CS133 Awesome Project</title>





{%from 'macros.html' import header as header%}

{{header()}}


</head>
<body>
<div class="navbar clear">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" id="menu" style=" height:30px;padding:0px;width: 40px!important; background-color: white">
        <span class="iconn-bar the-top top-bottom"></span>
          <span class="iconn-bar top"></span>
          <span class="iconn-bar bottom"></span>
          <span class="iconn-bar the-bottom top-bottom"></span>
      </button>
      <a class="navbar-brand" href="/">5Sale</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/home"><span>Browse</span></a></li>
        <li><a href="/my_items">My Items</a></li> 
        <li><a href="/post_item">Post Item</a></li>
        <li><a href="/view_conversations"> <i class="material-icons">message</i></a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Notifications
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {%for notification in notifications%}
              <li>
                <a href="/notifications/{{notification.key.id()}}">
                  <div class="notification-div">
                    {{notification.body}}
                  </div>
                </a>
              </li>
            {%endfor%}
          </ul>
        </li> 
        <li>
          <a href="/me">ME</a>
        </li>
        <li>
          <a href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="nav-spacer"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2" align="center"></div>
    <div class="col-xs-8" align="left">
      <h3>{{message}}</h3>
    </div>
    <div class="col-xs-2" align="center"></div>
  </div>
  
</div>


{%from 'macros.html' import scripts as scripts%}

{{scripts()}}

</body>
    
</html>